/* styles/Home.module.css */

.container {
  max-width: 960px;
  margin: 0 auto;
  padding: 0 15px;
}

.hero,
.features,
.testimonials,
.cta {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.5s ease, transform 0.5s ease;
}

.appear {
  opacity: 1;
  transform: translateY(0);
}

.hero {
  background-color: #f8f9fa;
  padding: 80px 0;
  text-align: center;
}

.features {
  padding: 60px 0;
}

.testimonials {
  background-color: #f8f9fa;
  padding: 60px 0;
}

.testimonial {
  margin-bottom: 30px;
}

.cta {
  padding: 60px 0;
  text-align: center;
}

.footer {
  background-color: #343a40;
  color: #ffffff;
  padding: 30px 0;
  text-align: center;
  display: flex;
  justify-content: space-between;
}
.chat_icon_wrapper{
 background-color: #354233;
 width: 50px;
 height: 50px;
 border-radius: 50%;
 position: fixed;
 bottom: 100px;
 right: 50px;
 display: flex;
 justify-content: center;
 align-items: center;
 cursor: pointer;
}

.chat_icon{
  color: #FFF;
  font-size: 2rem;

}